<div class="container">
  <div class="row">
    <div class="col-auto">
      <amp-ad
        width="100vw"
        height="320"
        type="adsense"
        data-ad-client="ca-pub-3299894539657744"
        data-ad-slot="7593524144"
        data-auto-format="rspv"
        data-full-width=""
      >
        <div overflow=""></div>
      </amp-ad>
    </div>
    <div class="col-12">
      <h1 class="text-white">Hello World</h1>
    </div>
  </div>

</div>